<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>

<body>
  <%- include("./partials/nav.ejs") %>
  <% console.log(books) %>
  <h1>Booklist Index</h1>
  <div class="book-container">
    <% for (let i=0; i <books.length; ++i) { %>
    <div class="book">
      <div class="book-title">
        <a href="/books/<%= books[i]._id %>">
          <%= books[i].title %>
        </a>
      </div>
      <div class="action-container">
        <div class="book-edit-button">
          <!-- link to our edit page -->
          <a href="/books/edit/<%= books[i]._id%>/">Edit</a>
        </div>
        <div class="remove-book">
          <!-- delete form goes here -->
          <form action="/books/<%= books[i]._id%>/?_method=DELETE" method="post">
            <input type="submit" value="Remove" id="deleteform">
          </form>
        </div>
      </div>
    </div>
    <% } %>
  </div>

    </body>

</html> 